@import "./_colors";

.main {
  min-height: 100vh;
  max-width: 1200px;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 768px) {
    align-items: flex-start;
    flex-direction: row;
    margin: 0 auto;

    .aboutMe {
      max-width: 33.33333%;
    }

    .portfolio {
      max-width: 66.6666667%;
      padding-left: 7rem;
    }
  }
}

.aboutMe {
  max-width: 450px;
  margin: 0 auto 3rem;
  text-align: center;

  h1 {
    margin-bottom: 0;
  }

  p:first-of-type {
    margin: 0 0 3rem;
  }

  img {
    border: 5px solid $green;
    border-radius: 50%;
    margin: 0 auto 1rem;
  }
}

.socialLinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  > li {
    display: inline-block;
    margin: 0 15px 15px;
    > a {
      color: $green;
      transform: scale(1);
      transition: all 0.25s ease-in-out;
      height: 50px;
      width: 50px;
      display: block;
      font-size: 18px;
      border-radius: 50%;
      background: #f7f7f7;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        transform: scale(1.1);
        color: #f7f7f7 !important;
      }

      svg {
        height: 3rem;
      }
    }
  }

  #github {
    color: #24292e;
    &:hover {
      background: #24292e;
    }
  }
  #linkedin {
    color: #0174b3;
    &:hover {
      background: #0174b3;
    }
  }
  #twitter {
    color: #1da1f2;
    &:hover {
      background: #1da1f2;
    }
  }
  #soundcloud {
    color: #ff6a22;
    &:hover {
      background: #ff6a22;
    }
  }
  #codepen {
    color: #000;
    &:hover {
      background: #000;
    }
  }
  #spotify {
    color: #1db954;
    &:hover {
      background: #1db954;
    }
  }
  #strava {
    color: #fc6100;
    &:hover {
      background: #fc6100;
    }
  }
}

.footer {
  background: $darkGreen;
  color: #fff;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 10px solid $green;
  justify-content: center;
  align-items: center;

  span {
    margin-left: 20px;
  }
}

.card {
  height: 100%;
  > a {
    display: flex;
    background: #fff;
    color: #333;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
    border: 1px solid #f1f1f1;
    margin-bottom: 2rem;
    flex-direction: row;
    height: 100%;
    &:hover {
      transform: scale(1.01);
      color: #222;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: 450px) {
      flex-direction: column;
    }
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    padding: 0.875rem 2rem;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px;
    font-size: 12px;
    font-weight: 800;
  }

  .workImg {
    flex: 0 0 200px;
    align-self: stretch;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .workInfo {
    padding: 1.5rem 3rem;
    align-self: center;
    p {
      font-size: 1.4rem;
      line-height: 1.5;
    }
  }
}

.grid {
  @media (min-width: 992px) {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;

    > div {
      height: 100%;
    }
    .card > a {
      flex-direction: column;
    }
  }
}

#githubWork {
  background-image: url(../public/assets/images/github.png);
  background-size: contain;
  background-size: 50%;
  background-position: center;
}
#moodmashImg {
  background-image: url(../public/assets/images/moodmash.jpg);
}
#NBAImg {
  background-image: url(../public/assets/images/nbaTrivia.jpg);
}

#shiningImg {
  background-image: url(../public/assets/images/shiningImg.png);
}
#burgerImg {
  background-image: url(../public/assets/images/burgerTime.jpg);
}

#jamiexxImg {
  background-image: url(../public/assets/images/jamiexx.jpg);
}
#tartabullImg {
  background-image: url(../public/assets/images/tartabull.jpg);
}
#reduxAudio {
  background-position: center top;
  background-image: url(../public/assets/images/reduxaudio.jpg);
}

@media (prefers-color-scheme: dark) {
  //DARKMODE
}
